
nav{
    color: white;
    float:none !important;
    flex: 2;
    text-align: right;
    order: 2;
}
header{
    display: flex;
    flex-direction: row;
}
header h1{
    margin-top: 12px;
    font-size: 29px;
    margin-right: 20px;
}
header h1 a{
    color: #900;
}
header h1 a:visited{
    color: #900;
}
@media all and (max-width:416px) {
    nav ul li.text a{
        width: calc(33vw - 30px) !important;
        min-width: 83px;
    }
}
@media all and (max-width:700px) {
    header{
        display: flex;
        flex-direction: column;
    }
    nav{
        order: 0;
        text-align: center;
    }
    nav ul{
        margin: 3px;
    }
}
@media all and (max-width:585px) {
    nav ul li.separator{
        display: block;
    }
}
