/*
    This file is part of viood.

    viood is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    viood is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with viood.  If not, see <http://www.gnu.org/licenses/>.
*/

.standalone{
    
}

body{
    background: black;
    color: white;
    font-family: "Source Sans Pro", Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
body>.gallery{
    display: flex;

    flex: 1;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: stretch;
}
body.gallery .gallery a{
    height: calc(25vw - 7px);
    width:  calc(25% - 7px);
    flex-grow: 1;
    display: flex;
    vertical-align: top;
    margin: 3px;
}

body.gallery .gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px){
    body.gallery .gallery a{
        height: calc(50vw - 7px);
        width:  calc(50% - 7px);
    }
}

@media (min-width: 1200px){
    body.gallery .gallery a{
        height: calc(16.6vw - 7px);
        width:  calc(16.6% - 7px);
    }
}

a{
    text-decoration: none;
}

button{
    border: 0 none;
    /*background: rgba(255,255,255,0.6);*/
    border-radius: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
    background: none;
    cursor: pointer;
}

a.gallery{
    position: relative;
    display: inline-block;
}
.galleryOverlay{
    position: absolute;
    color: white;
    text-align: left;
    font-weight: 100;
    font-size: 18px;
    width: calc( 100% - 30px );
    height: 100%;
    padding: 0 15px 0 15px;
    background: rgba(0,0,0,0.4);
    transition: opacity 1s ease-in-out;

}

.galleryOverlay:hover{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.galleryOverlay h3 {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}
.swipe-wrap img {
    width: 100vw;
    height:  100vh;
    object-fit: contain;
    display: inline-block;
    vertical-align: top;
}

.toolbar button{
    font-size: 130%;
    
}

.toolbar{
    position: fixed;
    bottom: 0;
    right: 0;
    transition: opacity 2s ease-out;
}

.faded{
    opacity: 0.5;
}

:-moz-full-screen .toolbar, :-moz-full-screen a.back{
    opacity: 0.2;
}
:-webkit-full-screen .toolbar, :-webkit-full-screen a.back{
    opacity: 0.2;
}
:-ms-full-screen .toolbar, :-ms-full-screen a.back{
    opacity: 0.2;
}
:full-screen .toolbar, :full-screen a.back{
    opacity: 0.2;
}

h1 a img{
    font-size: 14px;
    float: right;
}

h1, p{
    margin-left: 10px;
}
h1:empty, p:empty{
    margin: 0;
}

a.back{
    position: fixed;
    left:0;
    bottom: 0;
    font-size: 30px;
    width: 50px;
    height: 40px;
    display: block;
    color: white;
    text-align: center;
    transition: opacity 2s ease-out;
}
footer{
    text-align: right;
    margin-right: 10px;
}
footer a{
    color: #00B3FF;
}
.showcase .one, .showcase .two{
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 10s ease-out;
}
.showcase .two{
    opacity: 0;
    position: absolute;
}

pre {
    display: inline;
}

body.gallery.rect .gallery img{
    height: auto;
}

body.gallery.rect .gallery a{
    max-height: 20%;
    width: auto;
    height: auto;
}